.portfolio {
  background-color: #ebe4a6;
  background-image: url('./img/brackets2.png');
  background-size: 800px;
  color: #333333;
}

.portfolio__header {
  font-size: 30px;
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media (min-width: 800px) {
  .portfolio__list {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 3px;
  }
}

.portfolio__item {
  position: relative;
  transition: 0.3s;
}

.portfolio__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgb(59, 51, 16);
  opacity: 0.3;
  cursor: pointer;
}

.portfolio__img {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
}

.portfolio__item:hover,
.portfolio__item--active {
  box-shadow: 0 0 4px #333333;
  margin: -5px;
  z-index: 5;
}

.portfolio__selected-description {
  font-size: 20px;
}

.portfolio__selected-link {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  border: solid 2px #333333;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
}

.portfolio__selected-link:hover {
  background-color: #333333;
  color: #ebe4a6;
}

@media (max-width: 600px) {
  .portfolio__header {
    font-size: 25px;
  }
}