.portfolio {
  background-color: #ebe4a6;
  background-image: url('./img/brackets2.png');
  background-size: 800px;
  color: #333333;
}

.portfolio__header {
  font-size: 30px;
}

.portfolio__list {
  clear: both;
	padding: 0px;
	margin: 0px;
}
.portfolio__list:before,
.portfolio__list:after { content:""; display:table; }
.portfolio__list:after { clear:both;}
.portfolio__list { zoom:1; /* For IE 6/7 */ }

.portfolio__item {
  display: block;
	float:left;
  margin: 1% 0 1% 1.6%;
  width: 18.72%;
}
.portfolio__item:first-child { margin-left: 0; }

.portfolio__img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
}

.portfolio__img:hover,
.portfolio__img--active {
  box-shadow: 0 0 4px #333333;
  width: 106%;
  margin-left: -3%;
}

.portfolio__selected-description {
  font-size: 20px;
}

.portfolio__selected-link {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  border: solid 2px #333333;
  padding: 10px 15px;
  margin: 10px 10px 0 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
}

.portfolio__selected-link:hover {
  background-color: #333333;
  color: #ebe4a6;
}

@media (max-width: 600px) {
  .portfolio__header {
    font-size: 25px;
  }
}