.hero {
  position: fixed;
  overflow: hidden;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url('trees.jpeg');
  background-size: cover;
  background-position: bottom;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c0b0986b;
  z-index: 1;
}

.hero__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  z-index: 2;
}

.hero__info-container {
  align-self: center;
  width: 100%;
}

.hero__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 60px;
  color: #18201886;
  font-family: 'Raleway', sans-serif;
}

.hero__subtitle {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #00000086;
  letter-spacing: 0.8px;
}