.music {
  background-color: #76968c;
  color: #000000ad;
  background-image: url('./img/note.png');
  background-size: 400px;
}

.music__header {
  font-size: 30px;
}

.music__links-container {
  text-align: right;
}

.music__links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.music__link {
  display: inline-block;
  height: 40px;
  margin: 10px;
}

.music__link-img {
  height: 100%;
  opacity: 0.7;
}

.music__itunes {
  margin-bottom: 7px;
}

.music__spotify {
  margin-bottom: 3px;
}

.music__pandora {
  margin-bottom: -2px;
}

.music__site-link-container {
  text-align: center;
}

.music__site-link {
  text-decoration: none;
  font-size: 30px;
  margin: auto;
  display: inline-block;
  border: solid #000000ad 3px;
  color: #000000ad;
  padding: 10px 40px;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.music__site-link:hover {
  background-color: #000000ad;
  color: #76968c;
}

@media (max-width: 600px) {
  .music__header {
    font-size: 25px;
  }

  .music__site-link {
    font-size: 25px;
    padding: 10px 20px;
  }
}
