.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.navbar__link {
  display: inline-block;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: middle;
  color: black;
}

.navbar__title {
  display: inline-block;
  font-size: 24px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}